[submodule "CliArgs"]
	path = CliArgs
        url = https://github.com/sara-nl/surfsara-cli-args-cpp.git
[submodule "Catch2"]
	path = Catch2
        url = https://github.com/catchorg/Catch2.git
[submodule "json-parser-cpp"]
	path = json-parser-cpp
	url = https://github.com/sara-nl/surfsara-json-parser-cpp.git
