[submodule "CliArgs"]
	path = CliArgs
	url = ../stefan-wolfsheimer.CliArgs.git
[submodule "Catch2"]
	path = Catch2
	url = ../catchorg.Catch2.git
[submodule "handle-mockup"]
	path = handle-mockup
	url = ../handle-mockup.git
[submodule "json-parser-cpp"]
	path = json-parser-cpp
	url = ../stefan-wolfsheimer.json-parser-cpp.git
